                   <!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <ul class="nav side-menu">
            <li>
                <a href="/admin/category"><i class="fa fa-home"></i> Danh Mục</a>
            </li>
            <li>
                <a href="/admin/news"><i class="fa fa-edit"></i> Tin tức</a>
            </li>
            <li>
                <a href="/admin/posts"><i class="fa fa-desktop"></i> Bài Viết</a>
            </li>
            <li>
                <a href="/admin/order"><i class="fa fa-desktop"></i> Đơn hàng</a>
            </li>
            <li>
                <a><i class="fa fa-bar-chart-o"></i> Quản lí game <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/admin/productcategory">Thể loại</a></li>
                    <li><a href="/admin/products">Sản phẩm</a></li>
                </ul>
            </li>
            <li>
                <a href="/admin/settingsystem"><i class="fa fa-clone"></i>Cấu hình hệ thống</a>
            </li>
            <li>
                <a href="/admin/role"><i class="fa fa-table"></i>Vai trò</a>
            </li>
            <li>
                <a href="/admin/account"><i class="fa fa-clone"></i>Tài khoản</a>
            </li>
            <li>
                <a id="menu_toggle"><i class="fa fa-bars"></i>Thu gọn</a>
            </li>
            <li>
                <a href="/admin/account/login"><i class="fa fa-sign-out"></i>Đăng xuất</a>
            </li>
        </ul>
    </div>
</div>